.success {
  color: green;
  cursor: pointer;
}
.error {
  color: red;
  cursor: pointer;
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 250px;
  height: 200px;
  background: #fafafa;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: #fafafa;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.heading {
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

.xIcon {
  position: absolute;
  top: 10px;
  right: 6px;
  height: 16px;
  width: 16px;
}
