.borderRadius_6 {
  border-radius: 6px;
}

.colorInherit {
  color: inherit;
}

.colorWhite {
  color: #fff;
}

.dislayFlex {
  display: flex;
}

.displayNone {
  display: none;
}

.fullWidth {
  width: 100%;
}

.fontWeight800 {
  font-weight: 800;
}

.heading2Xl {
  margin: 0;
  line-height: 1.2;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  @media (max-width: 600px) {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
  }
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.heightAuto {
  height: auto;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 6px;
}

.imageContainer img {
  height: auto;
  border-radius: 6px;
  width: 100%;
  overflow: hidden;
}

.lightText {
  color: #666;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.noPointerEvents {
  pointer-events: none;
}

.paddingTop_1 {
  padding-top: 1px;
}

.padding_1 {
  padding: 1rem;
}

.textBlock {
  display: flex;
  background-color: #000;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-end;
}
